{% extends '../layout/base.html.twig' %}

{% block content %}
    <h3>Airport</h3>
    <div class='floatright'>
        <img src='assets/images/photos/passport.jpg' width=275 height=253 alt='Passport Photo'>
    </div>
{% endblock %}