body {
  margin: 0;
  padding: 0;
  font-family: calibri, georgia, arial, geneva, sans-serif;
  font-size: .9em;
  background-color: rgb(0,0,0);
  background-image: url(../images/background.jpg);
}

a { 
  color: #000066;
  text-decoration: none;
  background-image: url(../images/linkbkg.png);
  background-repeat: repeat-x;
  background-position: left center;
}
a.live:link, a.live:visited {
  <!-- background-image: url(../images/liveLink.png); -->
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}

h1 {margin: 10px 0px 5px 0px; font-size: 2em;}
h2 {margin: 10px 0px 3px 0px; font-size: 1.75em; font-style: italic;}
h3 {margin: 10px 0px 2px 0px; font-size: 1.5em;}
h4 {
  margin: 10px 5px 2px -4px;
  padding: 4px 0px 1px 4px;
  background-image:url(../images/tablehgrad.png);
  background-repeat:repeat-x;
  font-style: italic;
}
h5 {margin: 10px 0px 2px 0px; font-size: 1em;}
h6 {margin: 10px 0px 0px 0px; font-size: 1em; font-style: italic;}

hr {
  width: 90%;
  margin: 4px;
  border-color: #806959;
  border-width: 1px;
  border-style: solid none none none;
}

.center img { border: solid 1px rgb(153,153,153); }
img { border:none; }

p {margin: 0em 1em 1.5em 0em; padding: 0;}

.table th {
  background-image:url(../images/tablehgrad.png);
  background-repeat:repeat-x;
  font-weight: bold;
}

table .borders { 
  padding: .5em 0 .7em 0;
  font-size: smaller;
  border-left: solid 1px rgb(230,230,230); 
  border-right: solid 1px rgb(230,230,230); 
  border-top: solid 1px rgb(230,230,230); 
  background-image:url(../images/tablehgrad.png);
  background-repeat:repeat-x;
}

table .fewborders { 
  font-size: smaller;
  text-align: right;
  border-left: solid 1px rgb(230,230,230); 
  border-right: solid 1px rgb(230,230,230); 
  background-image:url(../images/tablehgrad.png);
  background-repeat:repeat-x;
}

table .mostborders { 
  font-size: smaller;
  border-top: solid 1px rgb(230,230,230); 
  border-left: solid 1px rgb(230,230,230); 
  border-right: solid 1px rgb(230,230,230); 
}

table .mostbordersblank { 
  font-size: smaller;
  font-weight: bold;
  color: rgb(255,255,255);
  border-top: solid 1px rgb(230,230,230); 
  border-left: solid 1px rgb(230,230,230); 
  border-right: solid 1px rgb(230,230,230); 
}

table .term { font-style: italic; border-right: dashed 1px rgb(153,153,153); }

ul {margin: 0; padding:0em 0em 0em 2em;}
ul li {list-style-type: circle;}
ol {margin: 0; padding:0em 0em 0em 2em;}

/******************/
/* Page Structure */
/******************/

.container {
  margin:0 auto;
  padding:0;
  width:960px;
  background-image: url(../images/layout/textback.png);
  background-repeat: repeat-y;
}

.wrapper {
  margin:6px auto;
  padding: 0;
  clear:both;
}

.sidebar {
  margin: 0 0 0 20px;
  padding: 0 8px;
  width: 115px;
  min-height:400px;
  border-right: solid 1px rgb(153,153,153);
  float:left;
  clear: both;
  position:relative;
  z-index:3;
}

.content {
  padding: 0;
  margin: -75px 29px 0px 160px;
  z-index:2;
  background-color:#fff;
}

.content img {border:1px solid #ddd;}

.contentExternal {
  padding: 0;
  margin: 0px 29px 0px 29px;
  z-index:2;
}

.header {
  height:209px;
  min-height:130px;
  margin: 0 20px;
  padding: 0;
  background: url(../images/layout/header.jpg) top left no-repeat;
}

.footer {
  padding: 0;
  margin: 0 20px;
  clear: both;
  text-align: center;
  font-style: italic;
  border-top: solid 1px rgb(153,153,153);
}


/******************/
/*  General CSS   */
/******************/

.center { vertical-align:top; text-align:center; }

.familyid { color: rgb(153,153,153); font-size: smaller; }

.floatitem {                  /* DO NOT USE */
  margin: 0;
  padding: 0px 15px 0px 0px;
  overflow: visible;
  float: right;
  clear: right;
  position: relative;
}

.floatright {
  margin: 0;
  padding: 0px 5px 0px 5px;
  overflow: visible;
  float: right;
  position: relative;
}

.floatrightfixed {
  margin: 0;
  padding: 0px 8px 0px 0px;
  overflow: visible;
  float: right;
  position: relative;
  font-size: smaller;
}

.floatrightbox {
  margin: 0;
  padding: 5px 10px 5px 5px;
  overflow: visible;
  float: right;
  position: relative;
  border: solid 1px rgb(153,153,153);
}

.floatrightboxfixed {
  margin: 0;
  padding: 5px 10px 5px 5px;
  width: 250px;
  overflow: visible;
  float: right;
  position: relative;
  border: solid 1px rgb(153,153,153);
}

.floatleft {
  margin: 0;
  padding: 0px 0px 0px 5px;
  overflow: visible;
  float: left;
  clear: both;
  position: relative;
}

.floatrightstat {
  margin: 0;
  padding: 5px 10px 5px 5px;
  overflow: visible;
  float: right;
  font-size:smaller;
  position: relative;
  text-align:left;
}

.floatrightstat p {margin: 0 0 10px 0; padding: 0;}


.floatbox {                  /* DO NOT USE */
  margin: 0;
  padding: 5px 0px 5px 5px;
  width: 125px;
  overflow: visible;
  float: right;
  clear: both;
  border: solid 1px rgb(230,230,230);
  font-size:.8em;
  position: relative;
}


.floatboxopen {                  /* DO NOT USE */
  margin: 0;
  padding: 5px 0px 5px 5px;
  width: 200px;
  overflow: visible;
  float: right;
  clear: right;
  position: relative;
}

.fewborders { 
  margin-right: 5px;
  text-align: right;
  border-left: solid 1px rgb(230,230,230); 
  border-right: solid 1px rgb(230,230,230); 
  background-image:url(../images/tablehgrad.png);
  background-repeat:repeat-x;
}

.hilite {font-style:italic; font-size:smaller; background-color:rgb(153,153,153);}

.nobold {font-weight: normal;}
.ysbold {font-weight: bold;}
.light {font-style: italic; font-size: smaller;}
.lightgray {color: rgb(102,102,102); font-size: smaller;}
.lighter {font-size: smaller;}
.lightest {font-style:italic; font-size:.8em; font-weight:normal;}

.logout {                       /* Actually the login! */
  margin: 0;
  padding: 5px 20px 5px 5px;
  overflow: hidden;
  float: right;
  clear: right;
  position: absolute;
}

#login {background:url(../images/layout/login.jpg) 20px 0 no-repeat; padding: 0 25px;}

.donator { color: #2E8B57; font-style: italic; font-weight: bold; }
.nondonator { font-weight: bold; }
.giovane {color: rgb(180,0,0); font-weight:bold;}
.staffer { color: rgb(0,0,204); font-style: italic; font-weight: bold; }

.online {color: rgb(0,180,0); font-weight:bold;}
.onlinejust {color: rgb(0,180,0);}
.recent {color: rgb(120,180,0);}
.offline {color: rgb(180,120,0);}
.inactive {color: rgb(180,0,0); }

.signature { color: rgb(133,99,99); font-style: italic; }

.staffview {
 color: rgb(133,99,99);
 font-style: italic; 
 font-size: smaller;
}

.userid {font-size: smaller;}

/*input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}*/
