{% extends 'layout/base.html.twig' %}

{% block content %}
    <h3>First Mafia War Bank</h3>
    <div class=floatright>
        <img src='assets/images/photos/bank.jpg' width=200 height=310 alt='Nice Teller'>
    </div>
    <p>You spoke to your investment manager and they have liquidated some of your funds. It cost you {{ data.fee }} from that account which has been paid.</p>
    <p><a href='bank.php'>Return to the bank</a></p>
{% endblock %}
