<div class='footer'>
    <a href='legal.html'>Copyright &copy; Boomer&trade; {{ now | date('Y') }}. All rights reserved.</a>
    &nbsp; <a href='mailto:%68%65%6c%70%40%66%69%72%73%74%6d%61%66%69%61%77%61%72%2e%63%6f%6d'>&#69;&#109;&#97;&#105;&#108;&#32;&#85;&#115;</a>
</div>