{% extends 'layout/base.html.twig' %}

{% block content %}
    <h3>Street Fight</h3>
    <div class=floatright>
        <img src='assets/images/photos/streetFight.jpg' width=350 height=234 alt='Street Fight'><br>
    </div>
    <p>Street fights can last anywhere from a few hours to days. You can only be in one street fight at a time and fights are limited by level so you cannot be in all fights. At the end of the fight, the top fighter gets the Grand Prize and the top three fighters gain a smaller gift.</p>
    <p>During the combat period, all fights you win get you two points. You lose one point for losing a fight, and you lose three points for picking up a dagger (so if you get a dagger - AND lose, you lose four points). The fighter with the most points at the end of the fight wins.</p>
    {% if data.joined %}
        <p>OK, you're in it now.  Do not move slowly, you do not want to lose!</p>
        <p><a href='mafiosoResults.php?attack=1'>Find a Fight</a></p>
    {% else %}
        <p>You cannot fight in this fight. Fights are arrainged by classes around what sorts of gear and equipment folks can get their hands on. This fight is outside your class.</p>
        <p><a href='streetFight.php'>Please try another</a>.</p>
    {% endif %}
{% endblock %}